/* CSS STYLE CODES */

.mt-150{
    margin-top: 150px;
}

/* Color studies */
.bg-color-body{
    background-color: lightgrey;
}

h1.p-color{
    color: aqua;
}

.bg-color-h1{
    background-color: black;
}